# Python
__pycache__/
*.py[cod]
.venv/
venv/

# IDE
.idea/

# Simulink generated cache folders
slprj/

# Jupyter
.ipynb_checkpoints/

# Local data can become large
data/raw/*
data/processed/*

# Keep folder placeholders
!data/raw/.gitkeep
!data/processed/.gitkeep

# Course files kept locally, not pushed
*.pdf
*.docx

# Original uploaded archives kept locally
99_original_archives/**/*.zip
99_original_archives/
gym-unbalanced-disk-master-controller.zip

# Local Canvas submission staging folder
04_reports_and_submission/Group17_submission_package/

# OS files
.DS_Store
Thumbs.db
