# Python
__pycache__/
*.py[cod]
.venv/
venv/

# IDE
.idea/

# Simulink generated cache folders
slprj/

# Jupyter
.ipynb_checkpoints/

# Local data can become large
data/raw/*
data/processed/*

# Keep folder placeholders
!data/raw/.gitkeep
!data/processed/.gitkeep

# Course files kept locally, not pushed
*.pdf
*.docx

# Original uploaded archives kept locally
99_original_archives/**/*.zip

# OS files
.DS_Store
Thumbs.db
